<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cargar CSV</title>
</head>

<body>
<form th:action="@{/carga-archivo-turno}" method="POST" enctype="multipart/form-data">
    <input type="file" class="form-control" name="file" accept = ".csv">
    <input type="submit" value="Cargar turno a la Base de Datos">
</form>
<h2 th:text="${mensaje}"></h2>

<a href="/" th:if="${volver}">
    Volver
</a>

</body>
</html>