<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MilkStgo</title>

</head>
<body>
<h1>MilkStgo</h1>
<a href="/carga-archivo-leche">
  Ingrese Archivos
</a>

<a href="/nuevo-proveedor">
  Ingresar nuevo proveedor
</a>

<a href="/lista-proveedores">
  Listar proveedores
</a>

<a href="/consulta-quincena">
  Consultar reporte de pago
</a>

</body>
</html>